@media screen and (min-width: 700px) {

    .page-events {
        /* margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 8%; */
        min-height: calc(100vh - 206px);;
    }

    .page-events-illustration {
        height: 30vh;
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
    }

    .page-events-illustration-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-events-illustration-infos-titre {
        font-size: 4rem;
        font-family: var(--page-title-font-family);
        color: white;
    }

    .page-events-illustration-infos-subtitle {
        font-family: var(--page-subtitle-font-family);
        color: white;
        font-size: 0.9rem;
    }

    .page-events-contenu {
        padding: 6% 8% 6% 8%;
    }

    .page-events-subtitle {
        font-family: var(--page-subtitle-font-family);
        font-size: var(--page-subtitle-font-size);
        color: var(--page-subtitle-color);
        text-transform: uppercase;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .page-events-beback {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(70vh - 206px);
        font-family: GothamMedium;
        color: rgb(161, 161, 161);
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }

    .module-tuileEvent-info-buttons-button2{
        background-color: var(--bleu-AMB);
        display: inline-block;
        cursor: pointer;
        color: white;
        text-decoration: none;
        padding: 15px 27px 15px 27px;
        border-radius: 4px;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: var(--button-font-family);
    }

    .module-tuileEvent-info-buttons-button2:hover{
        background-color: var(--button-bleuAMB-backgroundcolor-hover);
        color: white;
        transition-duration: 0.2s;
        cursor: pointer;
    }

}

@media screen and (max-width: 699px) {

    .page-events {
        min-height: calc(100vh - 206px);
    }

    .page-events-illustration {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
    }

    .page-events-illustration-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-events-illustration-infos-titre {
        font-size: 3rem;
        font-family: var(--page-title-font-family);
        color: white;
    }

    .page-events-illustration-infos-subtitle {
        font-family: var(--page-subtitle-font-family);
        color: white;
        font-size: 0.9rem;
    }

    .page-events-contenu {
        padding: 50px 20px 50px 20px;
    }

    .page-events-subtitle {
        font-family: var(--page-subtitle-font-family);
        font-size: var(--page-subtitle-font-size);
        color: var(--page-subtitle-color);
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .page-events-beback {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(70vh - 206px);
        font-family: GothamMedium;
        color: rgb(161, 161, 161);
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
    }

    .module-tuileEvent-info-buttons-button2{
        background-color: var(--bleu-AMB);
        display: inline-block;
        cursor: pointer;
        color: white;
        text-decoration: none;
        padding: 15px 27px 15px 27px;
        border-radius: 4px;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: var(--button-font-family);
    }

    .module-tuileEvent-info-buttons-button2:hover{
        background-color: var(--button-bleuAMB-backgroundcolor-hover);
        color: white;
        transition-duration: 0.2s;
        cursor: pointer;
    }

}