.page-404 {
    height: calc(100vh - 206px);
    justify-content: center;
    align-items: center;
    width: auto;
}

.page-404-bloc {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
}

.page-404-bloc-titre {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    font-family: var(--page-title-font-family);
    font-size: var(--page-title-font-size);
}

.page-404-bloc-description {
    text-align: center;
    font-family: var(--page-subtitle-font-family);
    font-size: var(--page-subtitle-font-size);
    margin-bottom: 30px;
}

.page-404-bloc-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}