.module-navbar {
    background-color: var(--bleu-AMB);
    color: var(--white-AMB);
    font-family: var(--navbar-font-family);
}

@media screen and (min-width: 1921px) {
    .module-navbar-row {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1920px) {
    .module-navbar-row {
        margin-left: 8%;
    }
}

@media screen and (min-width: 500px) {

    .module-navbar {
        font-size: 0.80rem;
    }

    .module-navbar-column {
        display: none;
    }

    .module-navbar-row {
        display: flex;
        flex-direction: row;
        max-width: 1920px;
        padding: 1rem 0 1rem 0;
    }

    .module-navbar-row-logo {
        margin-right: 40px;
    }

    .module-navbar-row-logo img {
        max-width: 80px;
    }

    .module-navbar-row-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .module-navbar-row-menu-lien a {
        color: var(--navbar-link-color);
        text-decoration: none;
    }

    .module-navbar-row-menu-lien a:hover {
        color: var(--navbar-link-color-hover);
        text-decoration: none;
        transition-duration: 0.2s;
    }

    .module-navbar-row-menu-lien-margin-left {
        margin-left: 1.75rem;
    }

    .module-navbar-row-menu-lien-adhesion {
        font-weight: bold;
        text-decoration: underline;
    }

}

@media screen and (max-width: 499px) {

    .module-navbar {
        font-size: 1rem;
    }

    .module-navbar-row {
        display: none;
        transition: opacity 1s linear;
    }

    .module-navbar-column {
        display: flex;
        flex-direction: column;
    }

    .module-navbar-column-first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .module-navbabr-column-first-row-logo {
        padding: 1rem 0 1rem 1rem;
        margin-left: 6%;
    }

    .module-navbabr-column-first-row-logo img {
        max-width: 80px;
    }

    .module-navbabr-column-first-row-icon {
        font-size: large;
        cursor: pointer;
        margin-right: 6%;
        color: var(--navbar-link-color);
        padding: 1rem 1rem 1rem 0;
    }

    .module-navbabr-column-first-row-icon:hover {
        font-size: large;
        cursor: pointer;
        margin-right: 6%;
        color: var(--navbar-link-color-hover);
        transition-duration: 0.2s;
        padding: 1rem 1rem 1rem 0;
    }

    .module-navbar-column-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        padding-top: 5px;
        transition: all 2s linear;
    }

    .module-navbar-column-menu-lien {
        margin-left: auto;
        margin-right: auto;
    }

    .module-navbar-column-menu-lien a {
        color: var(--navbar-link-color);
        text-decoration: none;
    }

    .module-navbar-column-menu-lien a:hover {
        color: var(--navbar-link-color-hover);
        text-decoration: none;
        transition-duration: 0.2s;
    }

    .module-navbar-column-menu-lien-marginTop {
        margin-top: 1rem;
    }

    .module-navbar-column-menu-lien-adhesion {
        font-weight: bold;
        text-decoration: underline;
    }

}