.navbar {
    background-color: white;
    margin: 4% 7% 4% 7%;
}

/* ORDINATEUR ECRAN MOYEN & TABLETTE PAYSAGE */
@media screen and (min-width: 870px) {

    .navbar-row {
        display: flex;
        flex-direction: row;
    }

    .navbar-column {
        display: none;
    }

    .navbar-row-logo {
        width: 20%;
        height: auto;
        min-width: 150px;
    }
    
    .navbar-row-logo img {
        width: 65%;
        display: block;
        margin-left: 0;
        margin-right: auto;
        min-width: 150px;
    }
    
    .navbar-row-links {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        right: 0;
        margin-left: auto;
        justify-content: flex-end;
        transition: height 0.5s linear;
    }
    
    .navbar-row-links-one {
        font-size: var(--navbar-text-size);
    }

    .margin {
        margin-left: 16%;
    }
    
    .navbar-row-links-one a {
        color: var(--navbar-links-color);
        font-family: var(--font-family);
        font-weight: var(--navbar-links-bold);
        text-decoration: none;
        transition: 0.2s;
    }
    
    .navbar-row-links-one a:hover {
        color: var(--navbar-links-color-hover);
        font-family: var(--font-family);
        text-decoration: none;
        transition: 0.2s;
    }

}
/* TABLETTE PORTRAIT */
@media screen and (max-width: 869px) {

    .navbar-row {
        display: none;
    }

    .navbar-column {
        display: flex;
        flex-direction: column;
    }

    .navbar-column-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-column-logo {
        width: 20%;
        height: auto;
        min-width: 150px;
    }
    
    .navbar-column-logo img {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: auto;
    }

    #navbar-column-links {
        flex-direction: column;
    }
    
    .navbar-column-links {
        margin-top: auto;
        margin-bottom: auto;
        right: 0;
        margin-left: auto;
        justify-content: flex-end;
        text-align: right;
    }
    
    .navbar-column-links-one {
        font-size: var(--navbar-text-size);
    }

    .margin {
        margin-top: 16%;
    }
    
    .navbar-column-links-one a {
        color: var(--navbar-links-color);
        font-family: var(--font-family);
        font-weight: var(--navbar-links-bold);
        text-decoration: none;
        transition: 0.2s;
    }
    
    .navbar-column-links-one a:hover {
        color: var(--navbar-links-color-hover);
        font-family: var(--font-family);
        text-decoration: none;
        transition: 0.2s;
    }

    .icon {
        cursor: pointer;
    }
}
 