@media screen and (min-width: 600px) {

    .module-tuileMixLarge {
        height: 75vh;
        display: flex;
        flex-direction: column;
        background-position: center;
        margin-bottom: 12px;
    }
    
    .module-tuileMixLarge-bloc-infos {
        margin-top: auto;
        margin-left: 6%;
        margin-bottom: auto;
        margin-right: auto;
        padding: 2%;
        color: var(--white-AMB);
        font-family: var(--navbar-font-family);
        text-decoration: none;
        background-color: rgba(78, 78, 78, 0.6);
        border-radius: 4px;
        max-width: 50%;
    }
    
    .module-tuileMixLarge-bloc-infos-titre {
        font-size: 3rem;
        font-family: var(--tuile-mix-font-family);
        text-decoration: none;
        line-height: 50px;
    }
    
    .module-tuileMixLarge-bloc-infos-description {
        margin-top: 2%;
        font-weight: bold;
    }
    
    .module-tuileMixLarge-bloc-infos-date {
        margin-top: 2%;
    }
    
    .module-tuileMixLarge-bloc-infos-buttons {
        margin-top: 4%;
    }

    .module-tuileMixLarge-bloc-infos-button1-soon {
        border: 3px solid yellow;
        width: fit-content;
        padding: 13px 25px 13px 25px;
        border-radius: 4px;
        font-size: 0.9rem;
        font-weight: bold;
        color: yellow;
    }

}

@media screen and (max-width: 599px) {

    .module-tuileMixLarge {
        height: calc(100vh - 103px);
        display: flex;
        flex-direction: column;
        background-position: center;
        margin-bottom: 12px;
    }
    
    .module-tuileMixLarge-bloc-infos {
        margin-top: auto;
        margin-right: auto;
        padding: 10% 0 10% 0;
        width: 100%;
        color: var(--white-AMB);
        font-family: var(--navbar-font-family);
        text-decoration: none;
        background-color: rgb(0,0,0,0.4);
    }

    .module-tuileMixLarge-bloc-infos-margin {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .module-tuileMixLarge-bloc-infos-titre {
        font-size: 2rem;
        font-family: var(--tuile-mix-font-family);
        text-decoration: none;
        text-align: center;
    }
    
    .module-tuileMixLarge-bloc-infos-description {
        margin-top: 2%;
        font-weight: bold;
        text-align: center;
    }
    
    .module-tuileMixLarge-bloc-infos-date {
        margin-top: 2%;
        text-align: center;
    }
    
    .module-tuileMixLarge-bloc-infos-buttons {
        margin-top: 4%;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .module-tuileMixLarge-bloc-infos-button1-soon {
        border: 3px solid yellow;
        width: fit-content;
        padding: 13px 25px 13px 25px;
        border-radius: 4px;
        font-size: 0.9rem;
        font-weight: bold;
        color: yellow;
    }
    
}