@media screen and (min-width: 700px) {

    .module-tuileInfo-alerte {
        background-color: #8B2C2C;
    }

    .module-tuileInfo-info {
        /* background-color: #0071E3; */
        background-color: rgb(51, 111, 60);
    }

    .module-tuileInfo-contenu {
        display: flex;
        flex-direction: column;
        background-position: center;
        padding: 1% 8% 0.5% 8%;
    }

    .module-tuileInfo-texte {
        padding-bottom: 10px;
        color: var(--white-AMB);
        font-family: var(--navbar-font-family);
        line-height: 25px;
        text-align: center;
    }

    .module-tuileInfo-button {
        /* padding-bottom: 1%; */
        align-self: center;
        padding-bottom: 0.5%;
    }

}

@media screen and (max-width: 699px) {

    .module-tuileInfo-alerte {
        background-color: #8B2C2C;
    }

    .module-tuileInfo-info {
        background-color: rgb(51, 111, 60);
        /* background-color: #0071E3; */
    }

    .module-tuileInfo-contenu {
        display: flex;
        flex-direction: column;
        background-position: center;
        padding: 10px 20px 0 20px;
    }

    .module-tuileInfo-texte {
        padding-bottom: 10px;
        color: var(--white-AMB);
        font-family: var(--navbar-font-family);
        line-height: 20px;
        text-align: center;
        font-size: 0.9rem;
    }

    .module-tuileInfo-button {
        padding-bottom: 15px;
        align-self: center;
    }

}