.font-StraightOuttaAMB {
    font-family: StraightOuttaAMB;
}

.font-Memories {
    font-family: Memories;
}

.font-normal {
    font-family: GothamMedium;
}

@media screen and (min-width: 600px) {

    .module-tuileSmooth {
        margin-bottom: 12px;
    }

    .module-tuileSmooth-margin {
        padding: 4% 8% 4% 8%;
    }

    .module-tuileSmooth-infos {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-self: center;
        height: max-content;
    }

    .module-tuileSmooth-infos-countdown {
        color: #8B2C2C;
        font-family: GothamUltra;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .module-tuileSmooth-infos-uptitre {
        color: #8B2C2C;
        font-family: GothamUltra;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .module-tuileSmooth-infos-titre1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .module-tuileSmooth-infos-titre2 {
        font-family: GothamMedium;
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .module-tuileSmooth-infos-titre3 {
        font-family: GothamBook;
        font-size: 1rem;
        margin-top: 5px;
    }

    .module-tuileSmooth-infos-boutons {
        align-self: center;
        margin-top: 30px;
    }

    .margin-bottom-boutons {
        margin-bottom: 40px;
    }

    .module-tuileSmooth-infos-boutons-2 {
        display: flex;
        flex-direction: row;
    }

    .module-tuileSmooth-infos-boutons-left {
        margin-right: 20px;
    }

    .module-tuileSmooth-image {
        text-align: center;
    }

    .module-tuileSmooth-image img {
        /* height: 500px; */
        width: auto;
        max-height: 500px;
    }

}

@media screen and (max-width: 599px) {

    .module-tuileSmooth {
        margin-bottom: 12px;
    }

    .module-tuileSmooth-margin {
        padding: 50px 20px 50px 20px;
    }

    .module-tuileSmooth-infos {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-self: center;
        height: max-content;
    }

    .module-tuileSmooth-infos-countdown {
        color: #8B2C2C;
        font-family: GothamUltra;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .module-tuileSmooth-infos-uptitre {
        color: #8B2C2C;
        font-family: GothamUltra;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .module-tuileSmooth-infos-titre1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .font-StraightOuttaAMB {
        font-family: StraightOuttaAMB;
    }

    .module-tuileSmooth-infos-titre2 {
        font-family: GothamMedium;
        font-size: 1.25rem;
        margin-top: 15px;
    }

    .module-tuileSmooth-infos-titre3 {
        font-family: GothamBook;
        font-size: 1rem;
        margin-top: 5px;
    }

    .module-tuileSmooth-infos-boutons {
        align-self: center;
        margin-top: 15px;
    }

    .margin-bottom-boutons {
        margin-bottom: 40px;
    }

    .module-tuileSmooth-infos-boutons-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .module-tuileSmooth-infos-boutons-left {
        margin-bottom: 8px;
    }

    .module-tuileSmooth-image {
        text-align: center;
    }

    .module-tuileSmooth-image img {
        width: 100%;
    }

}