.module-articleShop {
    min-height: calc(100vh - 206px);
}

.module-articleShop-illustrationTop-title {
    padding: 1% 8% 1% 8%;
    color: white;
    font-size: 2rem;
    font-family: var(--module-articleShop-illustrationTop-title-font-family);
}
