.module-button {
    width: fit-content;
    text-decoration: none;
    padding: 13px 25px 13px 25px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    transition-duration: 0.2s;
    font-family: var(--button-font-family);
}

.module-button-external {
    width: fit-content;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    transition-duration: 0.2s;
    font-family: var(--button-font-family);
    padding: 13px 25px 13px 25px;
    max-height: 45px;
}

.module-button-external a {
    text-decoration: none;
}

.button-external-bleuAMB a {
    color: white;
}

.button-external-white a {
    color: var(--bleu-AMB);
}

.button-white {
    background-color: white;
    border: 2px solid white;
    color: var(--bleu-AMB);
    transition-duration: 0.2s;
    cursor: pointer;
}

.button-white:hover {
    background-color: var(--navbar-link-color-hover);
    border: 2px solid var(--navbar-link-color-hover);
    color: var(--bleu-AMB);
    transition-duration: 0.2s;
    cursor: pointer;
}

.button-bleuAMB {
    background-color: var(--button-bleuAMB-backgroundcolor);
    border: 2px solid var(--button-bleuAMB-backgroundcolor);
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button-bleuAMB:hover {
    background-color: var(--button-bleuAMB-backgroundcolor-hover);
    border: 2px solid var(--button-bleuAMB-backgroundcolor-hover);
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button-grey {
    color: var(--button-grey-color);
    border: 2px solid var(--button-grey-color);
}

.button-orange {
    color: var(--orange-AMB);
    border: 2px solid var(--orange-AMB);
}