@media screen and (min-width: 700px) {

    .module-event {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .module-event-couverture {
        height: 50vh;
        display: flex;
        flex-direction: column;
        background-position: center;
    }

    .module-event-couverture-titre {
        margin-top: auto;
        margin-left: 6%;
        margin-bottom: 2%;
        margin-right: auto;
        font-family: var(--module-event-font-family);
        font-size: var(--module-event-font-size);
        color: var(--module-event-color);
        background-color: black;
        padding: 10px 20px 10px 20px;
    }

    .module-event-blocInfos {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 8%;
    }

    .module-event-blocInfos-pass {
        color: white;
        font-family: GothamUltra;
        padding: 6px 20px 4px 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #8B2C2C;
        width: fit-content;
    }

    .module-event-blocInfos-resume {
        font-family: var(--module-event-blocInfos-paragraphe-font-family);
        font-size: var(--module-event-blocInfos-paragraphe-font-size);
        color: var(--module-event-blocInfos-paragraphe-color);
        margin-bottom: 3%;
        line-height: 25px;
    }

    .module-event-blocInfos-express {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3%;
        width: 100%;
        justify-content: center;
    }

    .module-event-blocInfos-express-prix {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 350px;
    }

    .module-event-blocInfos-express-prix-icon {
        /* width: 80px; */
        margin-right: 30px;
    }

    .module-event-blocInfos-express-prix-icon img {
        width: 80px;
    }

    .module-event-blocInfos-express-prix-infos {
        display: flex;
        flex-direction: column;
    }

    .module-event-blocInfos-express-prix-infos-principal {
        font-family: var(--module-event-blocInfos-express-textPrincipal-font-family);
        font-size: var(--module-event-blocInfos-express-textPrincipal-font-size);
        color: var(--module-event-blocInfos-express-textPrincipal-color);
    }

    .module-event-blocInfos-express-prix-infos-secondaire {
        font-family: var(--module-event-blocInfos-express-textSecondaire-font-family);
        font-size: var(--module-event-blocInfos-express-textSecondaire-font-size);
        color: var(--module-event-blocInfos-express-textSecondaire-color);
    }

    .module-event-blocInfos-express-prix-MARGIN {
        margin-right: 5%;
    }

    .module-event-blocInfos-inscription {
        margin-bottom: 4%;
    }

    .module-event-blocInfos-section {
        margin-bottom: 3%;
    }

    .module-event-blocInfos-titre {
        font-family: var(--page-subtitle-font-family);
        font-size: var(--page-subtitle-font-size);
        color: var(--page-subtitle-color);
        text-transform: uppercase;
    }

    .module-event-blocInfos-reduction {
        display: flex;
        flex-direction: row;
        margin-top: 1%;
    }

    .module-event-blocInfos-reduction-nom {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: var(--module-event-blocInfos-reduction-nom-font-size);
        color: var(--module-event-blocInfos-reduction-nom-color);
        margin-right: 2%;
    }

    .module-event-blocInfos-reduction-prixNormal {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: var(--module-event-blocInfos-reduction-nom-font-size);
        color: #C70101;
        margin-right: 2%;
        text-decoration: line-through;
    }

    .module-event-blocInfos-reduction-prixReduction {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: var(--module-event-blocInfos-reduction-nom-font-size);
        color: #2CA400;
        margin-right: 2%;
        font-weight: bold;
    }

    .module-event-blocInfos-titre {
        margin-bottom: 3%;
    }

    .module-event-blocInfos-deroulement {
        display: flex;
        flex-direction: row;
        margin-top: 1%;
        align-items: center;
    }

    .module-event-blocInfos-deroulement-horaire {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: var(--module-event-blocInfos-reduction-nom-font-size);
        color: var(--module-event-blocInfos-reduction-nom-color);
        margin-right: 2%;
    }

    .module-event-blocInfos-deroulement-descriptif {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: 1rem;
        color: var(--module-event-blocInfos-reduction-nom-color);
        margin-right: 2%;
    }

}

@media screen and (max-width: 699px) {

    .module-event {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .module-event-couverture {
        height: 50vh;
        display: flex;
        flex-direction: column;
        background-position: center;
    }

    .module-event-couverture-titre {
        margin-top: auto;
        /* margin-right: auto; */
        width: calc(100% - 40px);
        font-family: var(--module-event-font-family);
        font-size: var(--module-event-font-size);
        color: var(--module-event-color);
        background-color: black;
        padding: 10px 20px 10px 20px;
        text-align: center;
    }

    .module-event-blocInfos {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .module-event-blocInfos-pass {
        color: white;
        font-family: GothamUltra;
        padding: 6px 20px 4px 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #8B2C2C;
        width: fit-content;
    }

    .module-event-blocInfos-resume {
        font-family: var(--module-event-blocInfos-paragraphe-font-family);
        font-size: var(--module-event-blocInfos-paragraphe-font-size);
        color: var(--module-event-blocInfos-paragraphe-color);
        text-align: left;
        line-height: 25px;
    }

    .module-event-blocInfos-express {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
        /* align-items: center; */
    }

    .module-event-blocInfos-express-prix {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .module-event-blocInfos-express-prix-icon {
        margin-right: 20px;
    }

    .module-event-blocInfos-express-prix-icon img {
        width: 50px;
    }

    .module-event-blocInfos-express-prix-infos {
        display: flex;
        flex-direction: column;
    }

    .module-event-blocInfos-express-prix-infos-principal {
        font-family: var(--module-event-blocInfos-express-textPrincipal-font-family);
        font-size: 1.4rem;
        color: var(--module-event-blocInfos-express-textPrincipal-color);
        text-align: left;
    }

    .module-event-blocInfos-express-prix-infos-secondaire {
        font-family: var(--module-event-blocInfos-express-textSecondaire-font-family);
        font-size: var(--module-event-blocInfos-express-textSecondaire-font-size);
        color: var(--module-event-blocInfos-express-textSecondaire-color);
        text-align: left;
    }

    .module-event-blocInfos-express-prix-MARGIN {
        margin-right: 5%;
    }

    .module-event-blocInfos-inscription {
        margin-top: 30px;
        align-content: center;
        text-align: center;
    }

    .module-event-blocInfos-section {
        margin-top: 30px;
    }

    .module-event-blocInfos-titre {
        font-family: var(--page-subtitle-font-family);
        font-size: var(--page-subtitle-font-size);
        color: var(--page-subtitle-color);
        text-transform: uppercase;
    }

    .module-event-blocInfos-reduction {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .module-event-blocInfos-reduction-nom {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: 1rem;
        color: var(--module-event-blocInfos-reduction-nom-color);
        margin-right: 10px;
    }

    .module-event-blocInfos-reduction-prixNormal {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: 1rem;
        color: #C70101;
        margin-right: 2%;
        text-decoration: line-through;
    }

    .module-event-blocInfos-reduction-prixReduction {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: 1rem;
        color: #2CA400;
        margin-right: 2%;
        font-weight: bold;
    }

    .module-event-blocInfos-titre {
        margin-bottom: 30px;
    }

    .module-event-blocInfos-deroulement {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
    }

    .module-event-blocInfos-deroulement-horaire {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: var(--module-event-blocInfos-reduction-nom-font-size);
        color: var(--module-event-blocInfos-reduction-nom-color);
        margin-right: 2%;
    }

    .module-event-blocInfos-deroulement-descriptif {
        font-family: var(--module-event-blocInfos-reduction-nom-font-family);
        font-size: 1rem;
        color: var(--module-event-blocInfos-reduction-nom-color);
        margin-right: 2%;
    }

}