:root {
    /* Theme AMB standard */
    --bleu-AMB: rgb(28, 31, 61);
    --orange-AMB: rgb(216, 160, 73);
    --white-AMB: white;

    /* Buttons specs */
    --button-bleuAMB-backgroundcolor: var(--bleu-AMB);
    --button-bleuAMB-backgroundcolor-hover: #454EA1;
    --button-font-family: GothamBook;
    --button-grey-color: #BCBCBC;

    /* Navbar specs */
    --navbar-link-color: var(--white-AMB);
    --navbar-link-color-hover: #BCBCBC;
    --navbar-limit-responsive: 870px;
    --navbar-font-family: GothamBook;

    /* Footer specs */
    --footer-color: #BCBCBC;

    /* TuileShop */
    --tuileShop-siNouveauProduit-font-family: GothamMedium;
    --tuileShop-nomProduit-font-family: GothamMedium;
    --tuileShop-prixProduit-font-family: GothamBook;
    --tuileShop-etatProduit-font-family: GothamBook;

    /* Shop Article */
    --module-articleShop-illustrationTop-title-font-family: GothamMedium;


    /* Tuile specs */
    --tuile-mix-font-family: GothamMedium;

    --tuile-event-title-font-family: GothamMedium;
    --tuile-event-title-font-size: 2rem;
    --tuile-event-include-font-family: GothamBook;
    --tuile-event-include-font-size: 1rem;
    --tuile-event-include-color: #BCBCBC;
    --tuile-event-date-font-family: GothamBook;
    --tuile-event-date-font-size: 1rem;
    --tuile-event-description-font-family: GothamBook;
    --tuile-event-description-font-size: 1rem;

    /* Pages specs */
    --page-title-font-family: GothamMedium;
    --page-title-font-size: 3rem;
    --page-subtitle-font-family: GothamBook;
    --page-subtitle-font-size: 1rem;
    --page-subtitle-color: #BCBCBC;

    /* Module Event specs */
    --module-event-font-family: GothamMedium;
    --module-event-font-size: 3rem;
    --module-event-color: var(--white-AMB);
    --module-event-blocInfos-paragraphe-font-family: GothamBook;
    --module-event-blocInfos-paragraphe-font-size: 1rem;
    --module-event-blocInfos-paragraphe-color: black;
    --module-event-blocInfos-express-title-font-family: GothamMedium;
    --module-event-blocInfos-express-title-font-size: 0.9rem;
    --module-event-blocInfos-express-title-color: #BCBCBC;
    --module-event-blocInfos-express-textPrincipal-font-family: GothamMedium;
    --module-event-blocInfos-express-textPrincipal-font-size: 2rem;
    --module-event-blocInfos-express-textPrincipal-color: var(--bleu-AMB);
    --module-event-blocInfos-express-textSecondaire-font-family: GothamBook;
    --module-event-blocInfos-express-textSecondaire-font-size: 0.7rem;
    --module-event-blocInfos-express-textSecondaire-color: var(--bleu-AMB);
    --module-event-blocInfos-reduction-nom-font-family: GothamBook;
    --module-event-blocInfos-reduction-nom-font-size: 1.3rem;
    --module-event-blocInfos-reduction-nom-color: var(--bleu-AMB);
}

body {
    min-width: 320px;
    min-height: 100vh;
}

@font-face {
    font-family: GothamThin;
    src: url(../fonts/Gotham-Thin.ttf);
}

@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham-Book.ttf);
}

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/Gotham-Medium.ttf);
}

@font-face {
    font-family: GothamUltra;
    src: url(../fonts/Gotham-Ultra.ttf);
}

@font-face {
    font-family: StraightOuttaAMB;
    src: url(../fonts/ChampionGothic-Welterweight.ttf);
}

@font-face {
    font-family: Memories;
    src: url(../fonts/SansitaSwashed-VariableFont_wght.ttf);
}

@font-face {
    font-family: Movember;
    src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: AmongUs;
    src: url(../fonts/AmongUs.ttf);
}

@font-face {
    font-family: Distingued;
    src: url(../fonts/HaiCalifornia.ttf);
}

@font-face {
    font-family: Summer;
    src: url(../fonts/CaveatBrush-Regular.ttf);
}

@font-face {
    font-family: Balsamiq;
    src: url(../fonts/BalsamiqSans-Regular.ttf);
}

@font-face {
    font-family: Avengers;
    src: url(../fonts/Avengers.ttf);
}


body {
    margin: 0;
}