:root {
    /* Theme AMB standard */
    --bleu-AMB: rgb(28,31,61);
    --white-AMB: white;

    /* Navbar specs */
    --navbar-link-color: var(--white-AMB);
    --navbar-link-color-hover: #BCBCBC;
    --navbar-limit-responsive: 870px;
    --navbar-font-family: GothamBook;
}

body {
    min-width: 320px;
    min-height: 100vh;
}

@font-face {
    font-family: GothamThin;
    src: url(../fonts/Gotham-Thin.ttf);
}

@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham-Book.ttf);
}

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/Gotham-Medium.ttf);
}

@font-face {
    font-family: GothamUltra;
    src: url(../fonts/Gotham-Ultra.ttf);
}



body {
    margin: 0;
}