body {
  margin: 0;
  background-color: #282c34;
}

.content {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    color: #b1b0b0;
}

.content-logo {
  max-width: 250px;
  max-height: 250px;
}

.content-bloc-description {
  margin-top: 10%;
}